{% extends 'base.html' %}
{% block content %}
{% load static %}
<!--header-->
<div class="header">
	<div class="header-top">
		<div class="container">
			<div class="pull-left"><h2>{{ error_message }}</h2></div>
			<div class="header-left register-bottom-grid">

					<ul>
                        <li >
                        <form action="{% url 'login' %}">
						<input type="submit" value="Log in">
                        </form>
                        </li>
                        <li>
                        <form action="{% url 'registration' %}">
						<input type="submit" value="Sign up">
                        </form>
                        </li>
					</ul>

					<div class="clearfix"> </div>
			</div>
				<div class="clearfix"> </div>
		</div>
		</div>
		<div class="container">
			<div class="head-top">

				<div class="clearfix"> </div>
		</div>
		</div>

	</div>

	<div class="banner">
		<div class="container">
			  <script src="{% static 'js/responsiveslides.min.js' %}"></script>
  <script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
			<div  id="top" class="callbacks_container">
			<ul class="rslides" id="slider">
			    <li>
					
						<div class="banner-text">
							<h3>Lorem Ipsum is not simply dummy  </h3>
						<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor .</p>
						<a href="">Learn More</a>
						</div>
				
				</li>
				<li>
					
						<div class="banner-text">
							<h3>There are many variations </h3>
						<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor .</p>
												<a href="">Learn More</a>

						</div>
					
				</li>
				<li>
						<div class="banner-text">
							<h3>Sed ut perspiciatis unde omnis</h3>
						<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor .</p>
								<a href="">Learn More</a>

						</div>
					
				</li>
			</ul>
		</div>

	</div>
	</div>
<div class="container">
    {% load filters %}
    {% for post in object_list %}
			  <div class="col-md-12 grid_3">
					<h3><a href="{% url 'detail' account_id=post.account_id post_id=post.id %}">{{ post.post_name }}</a></h3>
					<!--<a href="blog_single.html"><img src="/media/images/b1.jpg" class="img-responsive" alt=""/></a>-->

					<div class="blog-poast-info">
						<ul>
							<li><a class="admin" href="#"><i> </i> {{ post.account_id|get_author }} </a></li>
							<li><span><i class="date"> </i>{{ post.pub_date }}</span></li>
							<li><a class="p-blog" href="#"><i class="comment"> </i>{{ post.comment_set.count }}
								{% if post.comment_set.count == 1 %}
								    comment
                                {% else %}
                                    comments
                                {% endif %}
							</a></li>
						</ul>
				    </div>
					<div class="">{{ post|cut_news }}</div>
				    <div class="heart-particle-box">
					   <button class="likes post-likes" id="heart-icon" data-post-id="{{ post.id }}">
					   {% if liked %}
					   <i class="heart-shaped fa fa-heart" style="display: line-block"></i>
					   <i class="heart-shaped fa fa-heart-o" style="display: none"></i>
					   {% else %}
					   <i class="heart-shaped fa fa-heart" style="display: none"></i>
					   <i class="heart-shaped fa fa-heart-o" style="display: line-block"></i>
					   {% endif %}
					   </button>
					   <div class="like_count_blog_{{ post.id }}" id="heart-counter_{{ post.id }}">{{ post.likecollector_set.count }}</div>
					</div>
					<div class="button"><a href="{% url 'detail' account_id=post.account_id post_id=post.id %}">Read More</a></div>
			  </div>
		{% endfor %}
</div>
{% endblock %}